#root {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
}

/* animation */
.animation{
  @apply md:transition-transform md:duration-500 md:ease-in-out md:transform md:hover:scale-110 md:hover:z-10;
}